<div class="container">
    <form action="/app/View/pages/Cozinha/cozinha.html" metod="post"></form>
    <section id="cart"> 
        <h1>Checkout</h1>
        <article class="product">
            <header>
                <a class="remove" id="remove">
                    <img src="/app/resources/assets/img/x-salada.jpg" alt="x-salada">
                </a>
            </header>

            <div class="content">
                <h1>X-Salada</h1>
                Pão, hamburguer, queijo, mussarela, maionese, alface e tomate.
            </div>

            <footer class="content">
                <span class="qt-minus">-</span>
                <span class="qt">0</span>
                <span class="qt-plus">+</span>

                <h2 class="full-price">
                    0$
                </h2>

                <h2 class="price">
                    14.99$
                </h2>
            </footer>
        </article>

        <article class="product">
            <header>
                <a class="remove">
                    <img src="/app/resources/assets/img/x-bacon.jpg" alt="x-bacon">
                </a>
            </header>

            <div class="content">
                <h1>X-Bacon</h1>
                Pão, hamburguer, queijo, tomate, alface, maionese e bacon.
            </div>

            <footer class="content">
                
                <span class="qt-minus">-</span>
                <span class="qt">0</span>
                <span class="qt-plus">+</span>

                <h2 class="full-price">
                    0$
                </h2>

                <h2 class="price">
                    19.99$
                </h2>
            </footer>
        </article>

        <article class="product">
            <header>
                <a class="remove">
                    <img src="/app/resources/assets/img/x-frango.jpg" alt="x-frango">
                </a>
            </header>

            <div class="content">
                <h1>X-Frango</h1>
                Pão, hamburguer de frango, queijo, presunto, cebola crua e maionese.
            </div>

            <footer class="content">
                
                <span class="qt-minus">-</span>
                <span class="qt">0</span>
                <span class="qt-plus">+</span>

                <h2 class="full-price">
                    0$
                </h2>

                <h2 class="price">
                    17.99$
                </h2>
            </footer>
        </article>

    </section>

</div>

<footer id="site-footer">
    <div class="container clearfix">
            <div class="left">  

                <div class="mb-3">
                    <label class="form-label">Seu Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="digite seu nome">
                </div>
    
                <div class="mb-3">
                    <label>Forma de Pagamento</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="dinheiro" name="dinheiro">
                        <label class="form-check-label">Dinheiro</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"  id="cartao" name="cartao">
                        <label class="form-check-label">Cartão</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="pix" name="pix">
                        <label class="form-check-label">Pix</label>
                    </div>
                </div>
            </div>
    
            <div class="center">
                <div class="mb-3">
                    <label class="form-label">Observação</label>
                    <textarea class="form-control" id="observacao" name="observacao" rows="3"></textarea>
                </div>
                
            </div>
    
            <div class="right">
                <h1 class="total">Total: <span>0</span>$</h1>
                <input type="submit" class="btn" form="form1" value="Checkout">
                <!-- <button type="submit" class="btn btn-danger" form="form1" >Checkout</button> -->
            </div>
    </div>
</footer>
<script type='text/javascript' src="/app/resources/assets/js/jQuery/script.js"></script>
<script type="text/javascript" src="/app/View/pages/Checkout/checkout.js"></script>