<script type="text/javascript" src="/app/View/pages/Cozinha/cozinha.js"></script>
<div class="container">
    <h1>Cozinha</h1>
    <section id="cart"> 
        <article class="product">
            <header>
                <a class="remove" id="remove">
                    {{image}}
                </a>
            </header>

            <div class="content">
                <h1>{{pedido}}</h1>
                {{nome}}

                <p>
                    {{observacao}}
                </p>

            </div>

            <footer class="content">
                <span class="qt-plus">Finalizar</span>

                <h3 class="full-price">
                    Preparando
                </h3>

                <h2 class="price">
                    Status
                </h2>
            </footer>
        </article>
    </section>

</div>

