<header id="site-header">
    <div class="container">
        <h1>Burguer Foods 
            <span>
                [
            </span> 
            <em>Teste Fullstack</em> 
            <span class="last-span is-open">
                ]
            </span>
        </h1>
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="{{URL}}">Checkout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{URL/cozinha}}">Cozinha</a>
            </li>
        </ul>
    </div>
</header>